body {
    background: silver;
}

#page {
    border: thick solid black;
    margin-left: auto;
    margin-right: auto;
    font-family: courier;
}

#header {
    text-align: center;
    background: black;
    padding: .125em 1em;
    color: white;

    margin: 5px 0px;

    font-family: cursive;
    border-left: silver double 1em;
    border-right: silver double 1em;

    border-top: black inset 1em;
    border-bottom: blue inset 1em;

    font-size: 3em;
    vertical-align: middle;
    font-family: courier;
}

#content {
    padding: 0px;
    margin: 0px;
    background: url("8bitBlBB.PNG");
    border: thin solid black;
    padding-left: 10px;
    position: relative;
}

#sidebar {
    width: 10em;

    background: inherit;
}
#menu {
    position: fixed;
    left: 2.5em;
    width: 10em;
    text-align: center;
}

#menu ul {
    padding: 0px;
    margin: 2em 0px;
    list-style: none inside none;
}

#menu ul li {
    border: .25em outset blue;
    border-left: .5em ridge blue;
    border-right: .5em ridge blue;
    margin-bottom: 1em;
    position:relative;
    background: #497265;
}

#menu ul li object div{
    padding: .25em 1em;
}

#menu ul li a:link, #menu ul li a:visited {
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 2px;
    color:black;
}

#menu ul li a:hover div {
    background: #DD0;
}

#menu ul li a:link .sub, #menu ul li a:visited .sub {
    display: none;
}

.sub {
    text-align: center;

    left: 115%;
    z-index: 20;
    width: 200%;

}

#menu ul li a:hover .sub {
    display: block;
    background: #C2C;
}

#body {
    color: black;
    margin-right: 1em;
    margin-left: 10em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.25em;
    background: inherit;
}


#userland {
    padding: 1em;
    font-size: 1.1em;
}

#userland h1, #userland p, #userland h2,  #userland div {
    margin: 0px;
    background: url("8bitinvert.PNG");
    border: none;
}

#userland div {
    margin-bottom: 1em;
}

#userland h1, #userland h2 {
    text-align: center;
    margin-bottom: .5em;
    border: thick ridge blue;
}

#userland p {
    padding: 1em;
}

/*

#body:hover div {
    border-top: thick ridge red;
    border-bottom: thick groove red;
    border-left: thick groove red;
    border-right: thick ridge red;
}

#body:hover #userland div {
    border: none;
}

*/