/* 
    Document   : styles
    Created on : Jan 25, 2010, 12:34:52 AM
    Author     : JiMinitaur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    background: #99CDCB;
}

form {
    width: 385px;
    background: #FFFFC5;
    padding: 1em;

}

fieldset {
    border: thin solid #462109;
    padding: .25em 1em;
}

legend {
    border: thin solid #462109;
    font-family: helvetica;
    padding: .1em;
}

#payment {
    margin-top: 1em;
}

.formline {
    position: relative;
    margin-bottom: .3em;
    clear: both;
}

input {
    width: 40%;
}

input, select {
    position: absolute;
    left: 50%;
}

#button {
    background: #6793FF;
    color: white;
    width: auto;
    font-weight: bold;
    left: auto;
    right: .5em;
}

.normal {
    position: static;
    width: auto;
}