@charset "UTF-8";
/* CSS Document */

/* ---------------------------------------------- BASICS */

#medusa {
    position: absolute;
    left: 1%;
    top: 0px;
    width: 15%;
    height: 250%;
}

/* Get rid of margins, which really screw up layout */
html, body, p, h1, h2, h3
{
    margin: 0;	
}


/*You need to wrap the entire site so you can center it, 
	give it a border, etc.*/
#wrapper
{
    position: relative;
    width: 960px; /* Not necessarily the best width. */
    margin: auto; /* This centers the layout. Requires the width to work. */
    border: 1px solid black;
}


#innerwrapper {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* You'll have to align the h1 tag yourself. Ha! */
#header
{
    position: relative;
    text-align: right;
    border-bottom: 1px solid black;
    background-color: #DEDED6;
    padding-top: 1em;
    padding-right: 10px;
}

#header h1 {
    margin-bottom: -.2em;
}

/* ---------------------------------------------- MENU */
/* A decent start on the menu */
#nav 
{
    float: right;
    text-align: right;

    font-size: 2em;

    margin-top: .25em;
    margin-bottom: .25em;
}
#nav ul
{
    list-style-type: none;
}

#nav li
{
    float: left;
    margin-right: 10px;
}


/* ---------------------------------------------- UPPER CONTENT AREA */
/* This includes the three columns (Zeus, the crown and the mountain 
	on the first page.*/

#upperContent
{
    clear: both;
    /*Definite play with margins in here */

    /*Consider a margin-bottom: whatever; to move the border of your lower content area
	down. The floating above will have changed the flow of the document, so you'll need
	to play around with the margin-bottom numbers the same way you would if you floated
	a 200px sidebar to the left and then needed to margin-left: 200px; the div to the right
	of it. */
    margin-bottom: 1em;
}

#lowerSpacer {
    height: 1em;
    clear: both;
}

/* Don't forget border and padding here in #largeIntroBox */
/* I added the width for you because the float needed it,
	but this may change slightly given the size of the images. */

/**************************************/
.content
{
    border: thin solid black;
}

.half .content {
    width: 95%;
}

.quarter .content {
    width: 95%;
}

.threequarter {
    width: 75%;
}

.half {
    width: 50%;
    border-top: thin solid black;
}

.quarter {
    width: 25%;
    border-top: thin solid black;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* ---------------------------------------------- LOWER CONTENT */
/* The articles/news and travel/ad section */

/* You'll need to play around with the width, borders, etc. to make it center up nicely */
#lowerContent
{
    clear: both;
    border-top: 2px solid black;
    /* EQUAL COLUMN HEIGHT HACK (see note at bottom)*/
    overflow: hidden;
}

#lowerContentArticles
{

    float: left;

    /* EQUAL COLUMN HEIGHT HACK */
    padding-bottom: 1001em;
    margin-bottom: -1000em;

}

/* Each article in the articles section uses this class. */
#lowerContentArticles div.article
{
    /* Borders, margins, etc. in here */
}

#lowerContentSidebar
{
    border-left: 1px solid black;
    /*The #lowerContentArticles was 700px and floated left, so we need to move
	  the right-hand column 700px to the left*/
    margin-left: 700px;

    /* EQUAL COLUMN HEIGHT HACK */
    padding-bottom: 1001em;
    margin-bottom: -1000em;
}

#lowerContent h2 {
    border-bottom: thin dashed gray;
    text-align: center;
}


/* ---------------------------------------------- FOOTER */
#footer
{
    clear: both; /*all those floats */
    text-align: center;
    padding: .25em;
    border: thin solid gray;
    margin-bottom: .25em;
    /*we really only need to clear: left; but just in case some right floating happens later, clear:both; */
}

.article h3 {
    text-align: center;
}

/* ---------------------------------------------- EQUAL COLUMN HACK */
/*
	The glory of CSS doesn't allow two side-by-side columns to stretch to the
	same height automatically like a table does. So we're using a hack, ala
	The Holy Grail of CSS Layout, available at http://www.alistapart.com/articles/holygrail

	If you do web stuff after this class, you will bless these people. And maybe me! :)
*/
