/* 
    Document   : styles
    Created on : Sep 9, 2009, 4:32:40 PM
    Author     : JiMinitaur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    color:#FF1111;
    background-image: url("images/PsychicCross.jpg");
    background-repeat: repeat-y;
    background-position:50%
}

h1 {
    color: blue;
    background-color:aqua;
}

h2 {
    color: maroon;
    background-color: black;
}

a:link, a:visited {
    color: maroon
}
a:hover {
    color: gray;
}

p {background-color:gray}
p.reg {background-color:transparent}

img.littlePic {
    max-height:6em;
    max-width:6em;
    float:left;
    margin: 10px;
}