/******************************************************
    FORM
/******************************************************/

legend {
    text-align: center;
    color: white;
    border: thin solid white;
    background: black;
    padding: 3px 1em;
    z-index: 1;
}

#basic label {

    float: left;
    clear: both;
    width: 4em;
    text-align: right;
    margin-right: 1em;
}

fieldset  {
    padding: 1em;
}

#basic input {
    margin-top: .3em;
}

 input {
    background: black;
    border: thin gray solid;
    color: white;
}

select {
    background: black;
    color: white;
    border: thin gray solid;
    text-align: center;
    z-index: 1;
}

#sensitive {
    text-align:left;
    z-index: 1;
}

textarea {
    background: black;
    color: white;
    border: thin solid gray;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 98%;
}

#details input {
    border: none;
}