/** */

/** Ensures that the background to the page
contrast so sharply with the background image.*/
body {
    border: solid thick black;
    margin: 0px;
    background-color:  #880813;

}

/** This is the banner stylings */
#header {
    text-align: center;
    font-family: cursive;

    font-size: 3em;
    vertical-align: middle;
    height: 4em;
    border: thin solid #136C13;
    border-bottom: thick solid black;
    background:	#138808;
}

#labyrinth {
    background: url("images/Labyrinth.png");
    background-repeat:repeat;
    background-position:top;
    height: 4em;
}

#company{
    width: 12.75em;
    margin-left: auto;
    margin-right: auto;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: 1.1em;
    padding-right: -.25em;
    border: thin solid black;
    background: white;
    position: relative;
    top: 1.1em;
}

#head {
    background: url("images/head.PNG");
    background-repeat:no-repeat;
    width: 145px;
    height: 300px;
    position: absolute;
    top: -1em;
    left: -1em;
}

#axe {
    background: url("images/axe.PNG");
    position: absolute;
    width: 91px;
    height: 136px;
    top: -.55em;
    right: -1em;
}

/*************************************************************/

/** Ensures a minimum that the page contains a  */
#page {
    border: thick solid black;
    border-left: 2em ridge #000F8E;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    font-family: Helvetica;;
    width:80%;

}

/* The content area is the one that contains the background.*/
#content {
    /* Keeps absolute and fixed elements off the left edge
    of the background*/
    padding-left: .5em;
    padding-right:1.5em;
    /** bumps up to page width;*/
    margin: 0px;
    margin-top: -1em;

    border: thin solid black;
    background: black;
}

#body {
    color: black;
    margin-bottom: 0em;

    font-size: 1.25em;
    background: black;
    min-height: 500px;
    padding-bottom: 2em;
}

/*************************************************************/

#sidebar {
    width: 100%;
    background-image: url("images/swish.png");
    background-repeat:repeat;
    background-position:center;
}

#menu {
    text-align: center;
}

.menu {
    margin: .5em 0px;
    list-style: none inside none;
    font-family: Helvetica;
}

.menu li {
    display:inline;
    margin-left: 3em;
    margin-right: 3em;
    line-height: 3em;

    position: relative;
}

/**
  pads any divs inside of the menu items
*/
.menu li div, .menu li a, .menu li span{
    padding: .5em 3em;
    border: .25em outset blue;
    border-left: .5em ridge blue;
    border-right: .5em ridge blue;
    background: #497265;

}

/**
 * Removes the normal link styles from menu items.  I.E. items must
be further qualified in later classes
*/
.menu li, .menu li, .menu li a:link, .menu li a:visited {
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 2px;
    color:black;
}

/***************************************************************/

/* Subtitles (.sub)
*/

/** This block keeps .sub(s) hidden when the menu object
is not highlighted. */
.menu li .sub {
    display: none;
}

.menu li:hover .sub{
    display: block;
}

.sub {
    text-align: center;
    position: absolute;
    bottom: 200%; /** always pushes the bottom up the width of the containing block */
    background: #C2C;
}

.spacer {background: red;}

/***************************************************************/

.menu li .subMenu, .menu li .subMenu {
    display: none;
    border: none;
}

.menu li:hover .subMenu {
    display: block;
}

/** borders have to be specified under hover conditions becuase ie will throw
them into the width even when display: none/*/

#menu .subMenu {
    position:absolute;
    right: -2.75em;
    top: 1.8em;
    background: none;
    min-width: 100%;
}

#menu .subMenu a{
    list-style: none inside none;
    display: block;
    line-height: 1em;
    text-align: center;
    background: green;

    border-top: 2em groove blue;
    border: 3px solid black;
    padding: .5em;
}


/***************************************************************
     BODY FORMATTING
/***************************************************************/

#userland {
    padding: 1em;
    font-size: 1em;
}

#userland h1, #userland p, #userland h2,  #userland div {
    margin: 0px;
    border: none;
    clear: both;
    background: #78A899;
}

#userland div {
    margin-bottom: 1em;
}

#userland h1 {
    background: url("images/8bitinvert.PNG");
    background: #9FA878;

    font-family: Times;
    text-align: center;
    letter-spacing: .25em;

    padding: .15em 0em;
    margin-bottom: 1em;
    margin-top: .5em;


    padding-left: .6em;
    margin-left: -.6em;
    padding-right: .6em;
    margin-right: -.6em;


    border: thick ridge blue;
    border-left: 2em double black;
    border-right: 2em double black;
    border-top: none;
    border-bottom: none;
}

#userland p {
    padding: 1em;
    text-align: justify;
    clear: both;
    border-left: 1em solid #000F8E;
    border-top: 1em double black;
    border-bottom: 1em double black;
    border-right: 1em solid black;
    margin-left: .5em;

    line-height: 1.25em;
}

#userland h2 {
    text-align: center;
    border: none;
    width: 75%;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    background: black;
    color:white;
    border: double green;
}

.center {
    text-align: center;
}

fieldset {
    margin-bottom: 1em;
    background: black;
    color: white;
    z-index: 1;
}

#userland form div, #userland form p {
    background: black;
    margin: 0px;
    z-index: 1;
}

#userland form p {
    padding: .5em 1em;
    z-index: 1;
}


/************************************************/
#userland .code {
    font-size: 1em;
    background: black;
    color: #C6C6C1;
    margin: 2em;
    margin-left: 1.5em;
    overflow: hidden;
    padding: 1em;
    border: 1em double #880813;
    font-weight: bold;
}

#userland .code:hover pre{
    background: black;
}

#userland .code:hover {
    overflow: visible;
    position: relative;
    border-right: none;
}

/***************************************************/

hr {
    margin: 2em;
}

#userland ol{
    margin: 1em;
    text-align: center;
    list-style: none outside none;
}

#userland li {
    display: inline;
    margin: .5em;
    margin-left: .25em;
    margin-right: .25em;

    background: #78A899;
    padding: .5em;
    line-height: 2em;
    font-size: 1em;
    border: .5em double black;
}

#userland table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border: solid double #78A899;
    background: #78A899;

    text-align: center;
}

#userland table th {
    background: #880813;
    color: white;
}

#userland table td {
    padding: .25em 1em;
    margin: .1em;
    background: #7F87C6;
}

#userland table td, #userland table th {
    border: thin solid black;
}

#userland a {
    text-decoration:none;

}

.red {
    color: red;
}

.blue {
    color: blue
}