
body {
    background-image: url("yam.png");
    background-position: center;
    background-color: #E2AB65;
}

#logo {
    text-align: center;
    font-size: 4em;
    background: black;
    color: #E2AB65;
    padding: .25em;
    position: relative;
}
#logo img {
    position: absolute;
    left: 1em;
    top: 5%;
    width: 2em;
    height: 100%;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.fullpic {
    max-width: 100%;
    width:100%;
}

/*******************************************************/

#menubar {
    background: black;
    position: relative;
    margin: .5em 0em;
    margin-top: 2px;
    text-align: center;
}

#menu {
    list-style-image:url("yam.png");
    padding: 0px;
    margin: 0em;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    display: inline;
}

#menu li{
    width: 20%;
    display: inline;
    background: #E2AB65;
    border: solid #170605 thin;

    line-height: 2.5em;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 1em;
    margin-left: 1em;
}

#menu li:hover {
    color: white;
    background: black;
}

#menu li {
    padding: .5em;
}

#menu li a:link, #menu li a:visited {
    text-decoration: none;
    color: inherit;
}

/*******************************************************/
#content {
    padding-right: 37.5%;
    overflow:hidden;
}

#body div {
    background: #D58B21;
    border: solid black;
    padding: 1em;
    padding-top: 0em;
    margin-bottom: 3em;
}

#body {
    width: 100%;
}

.column {
    float: left;
    position: relative;
}

/* Positioning/Size values for left column*/
.right {
    width: 51.79%;
    left: 7.5%;
    margin-right: -103.984%;
}

/*******************************************************/
#body .quickbox {
    padding: 0px;
    margin-bottom: 1em;
}

.quickbox {
    border: solid black;
    margin-bottom: 1em;
    background: #D58B21;
}

.quickbox h1 {
    border: thin solid black;
    background: black;
    color:white;

    text-align: center;
    line-height: 1.3em;
    margin: 0px;
}

.quickbox img {
    margin: 1em;
    float: left;
    border: thick solid white;
}

.quickbox .fullpic {
    max-width: 85%;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.quickbox p {
    margin: .5em;
}

.quickbox p + p {
    margin-top: 2em;
}

/*******************************************************/

#body .quickbox h1 {
    display: inline;
    padding: .1em 1em;
    margin-right: 100%;
}

#footer {
    text-align: right;
    clear: both;
    font-weight: bold;
    font-size: 1.5em;
}

.center {
    text-align: center;
}