body {
    background-color:black;
    color:aqua;
        font-family: Arial, Helvetica;
}
h1 {
    text-align:center;
    background-image:url("images/wood.JPG");
    background-position:center;
    color:#FFDDFF;
    font-size:4em;
    margin:0em;
}

h2 {
    color:gray;
    font-family: Courier;

}

.fred {
    margin: 1em;
    float: right;
}

li {
    color:red;
}

p {
    color: aqua;
}

.right {
    float:right;
}

#menubar {
    display:table;
    width:100%;
    text-align: center;
}

.menu {
    margin-left:auto;
    margin-right:auto;
    display:table-cell;
    color:#44FF33;
    font-weight:bolder;
    font-size: 3em;
}

.menu a:link , .menu a:visited{
    color: inherit;
    text-decoration:none;
}

.menu a:hover {
    color: olive;
    text-decoration:blink;
}

ol {
    list-style-type:upper-roman
}

ul {
    list-style-type:square
}