
body
{
	margin: 0;
}

#box1
{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	margin: 10px;
}

#box1 p
{
	margin: 0;
	padding: 0;
}

#box1 h1
{
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	border-bottom: 1px solid black;
}






