

/* This sets all the margins and padding to the same across all browsers. */
html, body 
{
	margin: 0;
	padding: 0;
}

body 
{
	font-family: Georgia;
	font-size: 12px;
	color: #666666;
	background: #ffffff;
	text-align: center;
}


#wrapper
{
	width: 760px;
	margin: auto;
	text-align: left;
}

#header
{
	height: 150px;
}


/* Main Navigation */

#nav 
{ 
	height: 40px;
	margin-top: 10px;
}

#nav ul 
{ 
	margin: 0; 
	padding: 0; 
	list-style-type: none;
}

#nav li 
{ 
	float: left; 
}

#nav li a 
{
	font-size: 1.3em;
	font-family: Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	color: #030;
	height: 30px;
	
	display: block;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 0px;
	padding-bottom: 0px;
	
}

#nav li a:hover 
{
	color: #006;
	text-decoration: underline;
}

/* End Navigation */


/* Sidebar, which we float to the right. */
#sidebar 
{
	float: right;
	width: 280px;
}

/* Add the padding to a separate div within the container div, because some
browsers interpret div padding differently. */
#sidebar .padding 
{
	padding-top: 20px;
}

/* Main content area */
#content 
{
	margin-right: 280px;
	/* Why do this? Because the sidebar is 280 pixels, and we need to move the content div's
	right margin over the same number of pixels so it doesn't run together. */
}

/* Same principle as padding on the sidebar */
#content .padding 
{
	padding: 25px;
}

#content h2 
{
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#content p 
{
	/* Annoying layout problems can happen if you don't set your paragraph margin to 0 */
	margin: 0;
	padding: 0;
	padding-bottom: 15px; /*Now we set our own space between paragraphs */
}

#footer 
{
	clear: both; /*stop floating */
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #666666;
	border-top: 1px solid darkblue;
	padding-top: 10px;
}
