
/* For Part 1 */

#menu
{
    margin: -50px;
    padding: 50px;
    height: 5%;
    font-style: oblique;
    border: thin dashed #28FF13;
    text-align: center;
    background: red;
}

#content
{
    margin: 2%;
    padding: 5%;
    height: 25px;
    font-style: italic;
    border: thick groove red;
    background: blue;
}

#floatingBox
{
    margin: 5%;
    padding: 2em;
    height: 1em;
    font-style: normal;
    background: #9911EE;
    border: thick inset #9911EE;
    position: absolute;
    top: 25px;
    right: 1%;
}

#footer
{
    font-size: .75em;
    color: red;
    border: thin silver ridge;
    text-align:center;
}


/* For Part 2 */

#box1
{
    margin-left:20px;
    margin-top:20px;
    height:100px;
    width:100px;
    border: 1px black solid;
    background: green;
}

#box2
{
    height:100px;
    width:100px;
    border: 1px black solid;
    position: relative;
    left: 121px;
    background: cyan;
}

#box3
{
    height:100px;
    width:100px;
    border: 1px black solid;
    position: relative;
    left: 222px;
    background: orange;
}
