@charset "UTF-8";
/* CSS Document */
body
{
    background-color: #630;
}

#wrapper
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid #F60;
    background-color: #FFC;
}

#wrapper h1
{
    margin: 0px;
    border-bottom: 1px solid #F60;
    padding: 10px;
    text-align: center;
}

#wrapper p, img, h2
{
    padding: 5px;
}

.center {
    text-align: center;
    color: #CEE95B;
    letter-spacing: 1em;
    font-size:2em;
}

.host {
    width: 45%;
    background-color:#CEE95B;
    border: dashed thick black;
    margin: auto;
    margin-left: 15px;
    float:left;
    text-align: center;
}

.host li {
    text-align: left;
    margin: 5px;
}

.host li em {
    font-weight: bold;
    font-style:normal;
}

.host li p {
    font-weight:normal;
    margin: 2px;
}

.host h2 {
    width: 100%;
    font-size: 1.5em;
    letter-spacing:.3em;
}

.host a:link, .host a:visited {
    text-decoration:none;
    color: inherit;
}