/* 
    Document   : styles.css
    Created on : Aug 30, 2009, 10:11:29 PM
    Author     : James Arlow
*/

body {
    background-color: #442266;
    font-family:Helvetica;
    color:#44DD44;
}

img {
    max-height:150px;
}

a:link, a:visited {
    color:aqua;
}