body {
    background-color: #FFDDFF;
    color: #228;
    margin:0px;
    font-family: arial;
}

.gnosis {
    color: #FFDDFF;
}

h1 {
    padding:0px;
    font-size:3em;
    color:#FF9866;
    margin: 0px;
}

h1, h2 {
   font-family: 'Times New Roman';
}

h2 {
    color: #882121
}

a:link, a:visited {
    color:#2222AA;
}

.center {
    text-align:center;
}

.sub {
    color: #444422;
    font-weight: bolder;
    letter-spacing:.5em;
}

li {
    margin-bottom: 1em;
}

.mission {
    padding: 0px 2em;
    list-style:lower-greek
}

.god {
    width:5em;
    border:solid red;
    text-align:center;
}

.flavor{
    width: 6em;
    border: solid green;
        text-align:center;
}

.flavorTable {
    margin-left:auto; margin-right:auto;
}

.innerTable {
    border: solid blue;
}

.innerTable td {
    height:3em;
    width:6em;
    font-size:1.5em;
}

td {
    border: solid blue;
    height:100%;}

.indexBody {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    border:solid black;
    padding: 3em;
}

.zeus {
    left:20px;
    top:20em;
}

.venus {
    right:20px;
    top:17em;
}

.poseidon {
    left:20px;
    top:40em;
}

.hermes {
    right:20px;
    top:43em;
}

.godpic {
    position:absolute;
    max-width:10%;
    z-index:-1;
}

.body {
    margin:15px 25px;
}