/* 
    Document   : styles
    Created on : Nov 11, 2009, 4:05:55 PM
    Author     : JiMinitaur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#header p {
    padding: 0px;
    margin: 0px;
    text-align: right;
}

#header{
    position: relative;
    width: 100%;
}

#title {
    font-size: 3em;
}

#subtitle {
    position: relative;
    top: -1em;
}

hr {
    position: relative;
    top: -.5em;
    z-index:-1;
    margin: 0px;
}

#outer {
    border: thin solid black;
}

#lower {
    height: 300px;
}