
#main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.fullpic {
    max-width: 100%;
    width:100%;
}

#menubar {
    background: #FFFFC5;
    position: relative;
    margin: .5em 0em;
}

#menu {
    list-style:outside;
    padding: 0px;
    margin: 0em;
    width: 85%;
}

#menu li{
    display: inline;
    margin-right: .25em;
    background: #E2AB65;
    border: solid #170605 thin;
    padding: .5em;
    line-height: 2.5em;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.5em;
}

#menu li:hover {
    background: black;
    color: white;
}

#search {
    position: absolute;
    right: 3px;
    bottom: 0px;
}

#searchbutton {
    background: #959D00;
    color: white;
    font-weight: bold;
    position: relative;
    top: 2px;
}

#searchtext {
    background:#F1CFA5;
    margin-bottom: 2px;
}

#content {
    padding-left: 35%;
    padding-right: 2.5%;
}

#content h1 {
    color: #5D3413;
    font-size: 1.5em;
    font-family: Arial;
    font-weight: bold;
}

#body {
    float: left;
    width: 100%;
}

.sidebar {
    width: 51.79%;
    right: 51.79%;
    float: left;
    position: relative;
    margin-left: -103.984%;
}

.sidebox {
    border: thin solid black;
    margin-bottom: 1em;
}

.sidebox h1 {
    border-bottom: thin solid black;
    padding: .1em;
    text-align: center;
    margin: 0px;
}

.sidebox p {
    margin: 1em .5em;
}





#footer {
    text-align: right;
    clear: both;
}