/* 
    Document   : printer
    Created on : Nov 16, 2009, 4:44:05 AM
    Author     : JiMinitaur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#menu {
    display: none;
}

.menu {
    display: none;
}

.specs table, .specs th, .specs td {
    width: 50%;
    text-align: center;
    padding: 5px;
    border: thin black solid;
    border-collapse:collapse;
}

.specs table {
    width: 15em;
    border: thick black solid;
}
