/* 
    Document   : styles
    Created on : Nov 16, 2009, 12:43:42 AM
    Author     : JiMinitaur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background-color: #CDCDCD;
}

#menu {
    float: left;
    width: 10%;
    overflow:hidden;
    margin-left: 1%;
}

.logo {
    text-align: center;
    margin:10px 0px;
}

.menu {
    text-align: center;
    z-index:1;
}

.header {
    font-family: courier;
    font-weight:bold;
    font-size: 1em;
    letter-spacing: .15em;
}

.option {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid red thin;
    font-size: 1.25em;

    background: white;
    border: solid thin black;
    font-family: fantasy;
}

#menuspacer {
    height: 20px;
}

.option a:link, .option a:visited {
    color: inherit;
    text-decoration:none;
    display: block;
}

.option a:hover {
    background-color: red;
}

#content {
    background-color: #D8B553;
    margin-left: 12%;
    margin-right: 12%;
}

.border {
    border: solid #01152E;
}

.logocolor {
    background-color: #516A98;
    color: #D1D2D4;
}

.head {
    text-align:center;
    font-family: fantasy;
}

.content {
    padding: 0px 5%;
    float: left;
    width: 65%;
    margin-right: 5px;
}

/** Start inner sidebar*/

.sideshow {
    text-align: center;
}

.sideshow img {
    max-height: 8em;
    max-width: 10em;
    padding: 5px;
}

.specs {
    float: right;
    font-size: 1em;
    text-align: center;
    width: 15%;
    padding:5px;
    margin-left: -10%;
    margin-right: 10px;
    background: #01152E;
}

.specs table, .specs th, .specs td {
    width: 50%;
    text-align: center;
    padding: 5px;
    border: thin black solid;
    border-collapse:collapse;
}

.specs table {
    width: 15em;
    border: thick black solid;
}

.fineprint {
    font-size: .75em;
    margin-left:auto;
    margin-right:auto;
    padding-top: 5px;
    color: white;
}

.clear {
   clear: both;
}

h2 {
    text-align: center;
}

li {
    padding: 5px 0px;
}

.label {
    margin-left: 5px;
    width: 10em;
}

.main {
    padding: 0px 5%;
}