/* 
    Document   : Forms
    Created on : Feb 15, 2010, 11:18:32 PM
    Author     : JiMinitaur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

form {
    padding: 1em;
}

form p , #body form p{
    margin: 0em;
    margin-bottom: 1em;
}

.centerInput {
    text-align: right;
    width: 75%;

}

.centerInput input{
    width: 50%;
}

.centerInput .ignore {
    width: auto;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 75%;
}

.centerText {
    text-align: center;
}

form .submit {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: double 1em black;
    background: inherit;
    font-weight: bold;
    font-family:courier;
}

form .submit:hover {
    background: red;
}