table, th, td {padding:5px;}

/* Data Table Properties */
.weatherTable {
    border-collapse:collapse;
}

/* table1 borders */
.weatherTable table, .weatherTable td, .weatherTable th {
    border: black thin solid;
}

/*
    table1 colors
*/

/* leading header */
.weatherTable .super {
    color:white;
    background-color:#956900;
}

/* main headers (2nd row) */
.weatherTable .head th{
    background-color:#FFCA35;
}

.weatherTable .data{
    text-align:left;
    background-color:#0099FF
}

/*
    Table 1: Special Sections
*/
.weatherTable .footer {
    background-color:white;
    font-style:italic;
    font-size:smaller;
    text-align:center;
}

.weatherTable td {
    text-align:right;
}

/************************/

.salesTable {
    border-collapse:collapse;
    width: 300px;
}

.salesTable th {
    background-image:url("images/leopardprint.jpg");
    font-size: 2.5em;
}

/* table1 borders */
.salesTable table, .salesTable td, .salesTable th {
    border: black thin solid;
}

.salesTable td {
    font-size: larger;
    padding: 5px;
}

.salesTable .redAnimal {
    background-color: #D13200;
}

.salesTable .redText {
    background-color: #D98680;
}

.salesTable .greenAnimal {
    background-color: #00FF5F;
}

.salesTable .greenText {
    background-color: #C0FEA8;
}

.salesTable .blueAnimal {
    background-color: #0342FF;
}

.salesTable .blueText {
    background-color: #A7ADFF;
}

/************************/

#gradForm {
    position:fixed;
    bottom: 0px;
    right: 0px;
    background-color:white;
    padding:5px;
    font-size:small;
}

#gradForm table{
    border-collapse:collapse;
}

#gradForm table td{
    padding:2px;
}

#gradForm a {
    font-size:smaller;
}

#gradTable td {
    width:1em;
    text-align:center;
}