/** */

/** Ensures that the background to the page
contrast so sharply with the background image.*/
body {
    background: black;
}

/** Ensures a minimum that the page contains a  */
#page {
    border: thick solid black;
    margin-left: auto;
    margin-right: auto;
    font-family: courier;
    width:80%;
}

/** This is the banner stylings */
#header {
    text-align: center;
    background: black;
    padding: .125em 1em;
    color: white;

    margin: 5px 0px;

    font-family: cursive;
    border-left: silver double 1em;
    border-right: silver double 1em;

    border-top: black inset 1em;
    border-bottom: blue inset 1em;

    font-size: 3em;
    vertical-align: middle;
    font-family: courier;
}

/* The content area is the one that contains the background.*/
#content {
    /* Keeps absolute and fixed elements off the left edge
    of the background*/
    padding: 0px 2.5em;

    /** bumps up to page width;*/
    margin: 0px;
    background: url("images/8bitBlBB.PNG");
    border: thin solid black;
    position: relative;
}

#menu {
    text-align: center;
}

#menu .menu {
    width: 12em;
}

.menu {
    position:fixed;
    padding: 0px;
    margin: 2em 0px;
    list-style: none inside none;
}

.menu li {
    border: .25em outset blue;
    border-left: .5em ridge blue;
    border-right: .5em ridge blue;

    position:relative;

    margin-bottom: 1em;

    background: #497265;
}

/**
  pads any divs inside of the menu items
*/
.menu li div, .menu li a{
    padding: .25em 1em;
}

/**
 * Removes the normal link styles from menu items.  I.E. items must
be further qualified in later classes
*/
.menu li, .menu li, .menu li a:link, .menu li a:visited {
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 2px;
    color:black;
}

.menu li a {
    display: block;
}

/***************************************************************/

/* Subtitles (.sub)

   activated, on menu hover take z-order precedence and
   are shifted up to allow room for menu sub-item subtitles.
   The width of subtitle boxes are set here.  width: 200% = 2x menu box width.
*/

/** This block keeps .sub(s) hidden when the menu object
is not highlighted. */
.menu li .sub {
    display: none;
}

.menu li:hover .sub{
    display: block;
}

.sub {
    text-align: center;
    position: absolute;
    bottom: 150%; /** always pushes the bottom up the width of the containing block */
    width: 200%;
    background: #C2C;
}

.spacer {background: red;}

/***************************************************************/

.menu li .subMenu, .menu li .subMenu {
    display: none;
    border: none;
}

.menu li:hover .subMenu {
    display: block;
}

/** borders have to be specified under hover conditions becuase ie will throw
them into the width even when display: none/*/

.subMenu {
    position:absolute;
    left:90%;
    top: -.5em;
    margin:0px;
    padding: 0em 1em;
    width:auto;
    z-index: 100;
}

.subMenu a{
    list-style: none inside none;

    text-align: center;
    background: green;

    margin: 0px;
    border: 3px solid black;
    border-left: 2em groove blue;
    z-index: 101;
}


/***************************************************************
     BODY FORMATTING
/***************************************************************/

#body {
    color: black;
    margin-left: 10em;
    margin-bottom: 1em;

    font-size: 1.25em;
    background: inherit;
    min-height: 500px;
    padding-bottom: 2em;
}

#userland {
    padding: 1em;
    font-size: 1.1em;
}

#userland h1, #userland p, #userland h2,  #userland div {
    margin: 0px;
    background: url("images/8bitinvert.PNG");
    border: none;
}

#userland div {
    margin-bottom: 1em;
}

#userland h1, #userland h2 {
    text-align: center;
    margin-bottom: .5em;
    border: thick ridge blue;
}

#userland p {
    padding: 1em;
}

.center {
    text-align: center;
}

fieldset {
    margin-bottom: 1em;
    background: black;
    color: white;
        z-index: 1;
}

#userland form div, #userland form p {
    background: black;
    margin: 0px;
        z-index: 1;
}

#userland form p {
    padding: .5em 1em;
        z-index: 1;
}

/******************************************************
    FORM
/******************************************************/

legend {
    text-align: center;
    color: white;
    border: thin solid white;
    background: black;
    padding: 3px 1em;
    z-index: 1;
}

#basic label {
    display: block;
    margin-left: 1em;
    margin-bottom: .25em;
    text-align: left;
    width: 65%;
    position: relative;
    z-index: 1;
}

#basic input {
    z-index: 0;
    position: absolute;
    right: 0px;
    width: 50%;
    z-index: 1;

}

input {
    background: black;
    border: thin gray solid;
    color: white;
    z-index: 1;
}

select {
    background: black;
    color: white;
    border: thin gray solid;
    text-align: center;
    z-index: 1;
}

#sensitive {
    text-align:left;
    z-index: 1;
}

#sensitive input {
    width: 2em;
    border: none;
    z-index: 1;
}

#sensitive label {
    display: block;
    z-index: 1;
}

#sensitive div {
    margin: 0px;
    padding: 0px;
    text-align: left;
    z-index: 1;
}

#sensitive .cc {
    max-width: 65%;
    margin:1em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: thin solid gray;
    padding: 5px;
    z-index: 1;
}

#sensitive .lowerseparator {
    border-bottom: thin solid gray;
    text-align: center;
    z-index: 1;
}

textarea {
    background: black;
    color: white;
    border: thin solid gray;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}