h2{
    font-family: Courier, Arial, Helvetica;
    color: blue;
}

body {
    font-size: 14pt;
}

ol {
    list-style:lower-roman;
}

ul {
    list-style-image:url("images/moon.jpg");
}
a:link, a:visited {
    color: red;
    text-decoration:none;
}

a:hover {
    font-weight:bold;
    text-decoration:underline;
}

.withBG {
        background-image:url("images/psychiccross.jpg");
        color: olive;
}

.right {
    text-align:right;
}

p {
    text-indent:50px;
}