/* 
    Document   : styles
    Created on : Nov 16, 2009, 4:06:29 PM
    Author     : JiMinitaur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.content {
    width: 50%;
    border: thin solid black;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.top {
    border-bottom: thin solid black;
    text-align: center;
    padding-bottom: -1em;
}

h1  {
    padding: 0px;
    margin: 0px;
    position: relative;
    bottom: -.25em;
    font-size: 4em;
}

.lower {
    width: 100%;
}

.left {
    float: left;
    width: 32%;
    padding-left: 5px;
}

.right {
    float: right;
    width: 32%;
}

.middle {
    width: 33%;
    border: 1px solid black;
    margin-left: 33%;
    border-collapse:collapse;
}

.intro {
    padding: 10% 5%;
}

.middle .intro {
    padding: 10% 15%;
}



/**SECOND LAYOUT***/
.topsec {
    height: 5em;
    text-align: center;
    letter-spacing:4em;
}

.topsec img {
    max-height: 75px;
    position: relative;
    bottom: -50px;
}

#bottomspace {
    height: 15em;
}

.bottomsec {
    border-top: thin solid black;
    height: 20em;
    text-align: right;
}

.bottomsec h1{
    position: relative;
    bottom: -.3em;
}