/* 
    Document   : styles
    Created on : Sep 2, 2009, 4:03:10 PM
    Author     : JiMinitaur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body{
    background-color: #102030;
    color:red
}

#chart {
    background-color: #DDDDDD;
    float: left;
    margin: 10px;
}

a:link, a:visited {
    color: #CCCC22;
}

h1, h2 {
    font-family: Courier, Gothic;
}

em {
    font-style:normal;
    color: lime;
}

p.obligatory {
    color:white;
    font-weight: bolder;
}

#bigpic {    
    float:left;
}
