/* 
    Document   : styles
    Created on : Oct 7, 2009, 4:32:41 PM
    Author     : JiMinitaur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#table1 th {
    border: solid blue;
}
#table1 td {
    border: solid red;
}