

#nav
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: auto;
    clear: both; /*because it's up in there with those floated image boxes */
}

#nav ul
{
	
    list-style-type: none;
}
	
#nav li
{
    float: left;
    margin: 2px;
}
	
/* the code below using padding to make the entire box a hyperlink */
#nav li a
{
    display: block;
    padding: 7px;
    border: 1px solid black;
    background-color: #FFC;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
	
#nav li a:hover
{
    background-color: #69F;
    color: white;
}


.card
{
	width: 200px;
	height: 228px;
	padding: 2px;
	border: 1px solid black;
	background-position: center;	
	background-image: url('chicken.jpg');
	background-repeat: no-repeat;
	
	margin-top: 20px;
}

.card:hover
{
	border: 1px dashed blue;			
	background-image: url('chicken-word.gif');
}

