body {
    background:  red;
}
#header {
    font-size: 3em;
    height: 1.25em;
    text-align: center;
    color: white;
    background-color: black;
    background-image: url("images/flame.PNG");

}

#menu {
    background-color: black;
    color: green;
}
#menu ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#menu ul li {
    display: inline;
    font-size: 1.25em;
    margin: .5em 2em;
}

#page {
    padding: 1em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background: #110011
}

.allcenter {
    text-align: center
}

a:visited {
    color: white;
    text-decoration: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    background: #5E1C13;
    text-align: center;
    border: double black 2em;
}
table td, table th{
    border: thin solid white;
    padding: .25em;
    background: black;
}

table caption, table summary {
    display: none;
}