/* 
    Document   : week4quiz
    Created on : Sep 14, 2009, 3:42:45 PM
    Author     : JiMinitaur
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background-color: #4A1109;
    font-family: veranda, helvetica, courier;
}

h2 {
    color: #FF00FF
}

.class {
    background-color: #a4AAf0;
}