body {
    text-align:center;
    background-image:url("images/moon.JPG");
}

.container {
    margin:10px;
    padding-left:5%;
    padding-right:5%;
    background-color:aqua;
}

.container div {
    float:left
}

.center {
    width:100%
}
.left {
    position:relative;
}

.black {
    width: 85%;
    margin: 0 auto;
    background-color:black;
    background-image:none;
}

.content {
    border: solid red;
    width: 75%;
    margin: 0 auto;
    background-image:none;
    background-color:white;
}