label {    
    clear: right;
    width: 100%;
    float: left;
    margin-top:.2em;
    margin-right: 3em;
    position: relative;
}

label.break {
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: thin solid #A6A498;
}

label input[type=text] {
    width: 50%;
}

label input[type=radio] {
    margin: 5px;
}

label select {
    position: absolute;
    left: 50%;
}

input[type=text]{
    float: right;
}

form div {
    float: left;
}

fieldset div.full  {
    width:100%;
    margin-bottom: .5em;
}

fieldset div label {
    width:auto;
    margin: .1em .75em;
}

fieldset div label input {
    display: inline;
    width: auto;
}

form fieldset {
    float: left;
    width: 45%;
}

form div.clear fieldset{
    float:none;
    clear: both;
    width: 65%;
}

form {
    width: 100%;
    margin-top: 1em;
}

.exp select {
    position: static;
}

input[type=submit] {
    display: block;
    position: relative;
    top: .5em;
    float: none;
    clear: both;
    margin-top: 1em;
    margin-left: 37.5%;
    width: 25%;
    font-size: 1.5em;
    background:#A6A498;
    color: white;
    border: 2px solid black;
}