/* ---------------------------------------------- LOWER CONTENT */
/* The articles/news and travel/ad section */

/* You'll need to play around with the width, borders, etc. to make it center up nicely */


#lowerContent
{
    clear: both;
    width: 100%;

    border-top: 2px solid black;
    /* EQUAL COLUMN HEIGHT HACK (see note at bottom)*/
    overflow: hidden;
}

#lowerContent .header {
    border-bottom: thin dashed #B6B6B6;
    text-align: center;
    /** Vertical center for small header*/
    font-family: arial;
    font-weight: normal;
    font-size: .9em;
    padding: .6em 0em;
    position: relative;
}

#lowerContent .header .right {
    position: absolute;
    right: 3px;
}

/*****888888888888*/

#lowerContentArticles .article h3 {
    padding: .75em 0px;
    font-size: 1.5em;
    color:#2D2729;
}

#lowerContentArticles
{
    padding-left: 3%;
    padding-right: 2.5%;
    width: 68%;

    float: left;

    border-right: 1px solid #B6B6B6;
    margin-right: -2px; /* border-margin-float */

    /* EQUAL COLUMN HEIGHT HACK */
    padding-bottom: 1001em;
    margin-bottom: -1000em;

}

/* Each article in the articles section uses this class. */
#lowerContentArticles div.article
{
    padding-bottom: 1em;
    border-bottom: thin dashed #B6B6B6;
}

#lowerContentArticles div.article.last {
    border: none;
}

#lowerContentSidebar
{
    text-align: center;

    float: left;

    padding-left: 3%;
    width:22%;


    /* EQUAL COLUMN HEIGHT HACK */
    padding-bottom: 1001em;
    margin-bottom: -1000em;
}

#lowerContentSidebar img
{
    max-width: 100%;
}

#lowerContentSidebar .header{
    margin-bottom: 1em;
}

