@charset "UTF-8";
/* CSS Document */

/* ---------------------------------------------- BASICS */

#medusa {
    position: absolute;
    left: 1%;
    top: 0px;
    width: 15%;
    height: 225%;
}

/* Get rid of margins, which really screw up layout */
html, body, p, h1, h2, h3
{
    margin: 0;	
}

body {
    padding-top: 1em;
}


/*You need to wrap the entire site so you can center it, 
	give it a border, etc.*/
#wrapper
{
    position: relative;
    width: 960px; /* Not necessarily the best width. */
    margin: auto; /* This centers the layout. Requires the width to work. */

}


#innerwrapper {
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: thin solid black;
    border-top: none;

    /** Moves the black side border over header border to match example*/
    position:relative;
    top:-3px; 
}

/* You'll have to align the h1 tag yourself. Ha! */
#header
{
    position: relative;
    text-align: right;
    border: 1px solid #9F9892;
    border-bottom: 3px solid #9C8D87;
    background-color: #DEDED6;
    padding-top: 1.5em;
    padding-right: 1em;
}

#header h1 {
    margin-bottom: -.2em;
    font-size: 2.25em;
    font-weight: lighter;
}

/* ---------------------------------------------- MENU */
/* A decent start on the menu */
#nav 
{
    float: right;
    text-align: right;

    font-size: 1.5em;
    line-height: 1em;

    margin-top: 1em;
    margin-bottom: .25em;
}

#nav  a:link, a:visited {
    color: black;
    text-decoration: none;
}

#nav ul
{
    list-style-type: none;
}

#nav li
{
    float: left;
    padding: 0em;
    margin-right:.5em;
    text-decoration: none;
    border-bottom: thin solid black;
    line-height: .9em;
}

#nav li.bullet {
    text-decoration: none;
    border-bottom: none;
    width: 1em;
    height: 1em;
    background: url("images/bullet.jpg") no-repeat center;
}


/* ---------------------------------------------- FOOTER */
#footer
{
    clear: both; /*all those floats */
    text-align: center;
    padding: .25em;
    border: thin solid gray;
    margin-bottom: .25em;
    /*we really only need to clear: left; but just in case some right floating happens later, clear:both; */

    /* Font */
    color:  #8B7F7D;
    font-size: .6em;
    padding: .75em;
}

.article h3 {
    text-align: center;
}

/* ---------------------------------------------- EQUAL COLUMN HACK */
/*
	The glory of CSS doesn't allow two side-by-side columns to stretch to the
	same height automatically like a table does. So we're using a hack, ala
	The Holy Grail of CSS Layout, available at http://www.alistapart.com/articles/holygrail

	If you do web stuff after this class, you will bless these people. And maybe me! :)
*/

a.more:link, a.more:visited {
    font-weight: bold;
    font-style: normal;
    text-decoration:none;
    color: black;
}

[rel=lightbox] img {
    width: 168px;
    height: 112px;
    margin:.5em;
}

.ActiveLink {
    color: #C26E22;
}

.content img.small {
    max-width:40%;
    margin: 1em;
}

.content p {
    clear: none;
}