/* ---------------------------------------------- UPPER CONTENT AREA */
/* This includes the three columns (Zeus, the crown and the mountain
	on the first page.*/

.upper
{
    clear: both;
    width: 100%;
    position: relative;
}

#lowerSpacer {
    clear: both;
    height: 2em;
    background: white;
}

/**************************************/
.content
{
    float: left;
    border: 1px solid #B6B6B6;
    width: 48%;
    padding: 3px;
}

.content.left{
    margin-left: 0px;
}

.content.right {
    position:absolute;
    right: 0px;
}

.content img {
    max-width: 100%;
}

.content p {
    padding: 1em;
}

.content .quote {
    font-style: italic;
    position: relative;
    display: block;
    margin-bottom: 2em;
}

.content .quote .author {
    color: #C89C70;
}

.content .quote .credentials {

    font-style:normal;
    font-weight: bold;
    position: relative;
    right: 1em;
    clear: right;
    float: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.content h2 {
    text-align: center;
    margin:.25em;
}

.content ul
{
    list-style-type: none;
    border-top: 1px dashed #B6B6B6;
    border-bottom:1px dashed #B6B6B6;
    text-align: center;
    padding: .5em;
    margin:.25em 1em;
    line-height: 1em;
}

.content li
{
    line-height: 1em;
    display: inline;
    margin: .25em;
}

.content li a:link, .content li a:visited {
    font-family: arial;
    font-style: normal;
    text-decoration:none;
    color: #5A7FB0;
    font-weight: bold;
    margin:0em;
}
