/* ---------------------------------------------- UPPER CONTENT AREA */
/* This includes the three columns (Zeus, the crown and the mountain
	on the first page.*/

.upper
{
    clear: both;
    width: 100%;
    position: relative;
}

#lowerSpacer {
    clear: both;
    height: 2em;
    background: white;
}

/**************************************/
.content
{
    float: left;
    border: 1px solid #B6B6B6;
    margin-right: -2px;
    margin-left: 3%;
}

.content.left {
    margin-left: 0px;
}

.content.right {
    position:absolute;
    right: 0px;
}

.content img {
    max-width: 98%;
    margin-top: 1%;
    margin:1%;
}



.content.half {
    width: 47%;
}

.content.quarter {
    width: 23.5%;
}

.left {
    float: left;
}

.right {
    float: right;
}


