
.menu {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

.menu a {
    display: table-cell;
    text-align:center;
    font-size: 2em;
    text-decoration:none;
}

h1 {text-align: center;}

img {float:left; margin: 5px;}