.blackbackground {
    background-color:black;
    color:white;
    font-size: 1.2em;
}

body {
    background-image:url("images/PsychicCross.jpg");
}

.floatback {
    background-attachment:fixed;
    background-position: right;
    background-repeat:no-repeat;
}

.container {
    width: 90%;
    padding-left: 10%;
    background-color:fuchsia;
    margin-left: auto;
    margin-right: auto;
}

.fl {
    float:left;
}

.menu {
    background-color:silver;
    width: 8em;
}


.menu a:link,.menu a:visited {
    text-decoration:inherit;
    color:red;
}

.menu a:hover {
    color:fuchsia;
}

.Col {
    font-family: Arial, Helvetica;
    width: 40%;
    background-color:olive;
}

.center {
    background-image:url("images/crab-nebula.jpg");
    background-position:bottom;
    background-repeat:no-repeat;
}

h2 {
    color: blue
}

.cornerfloat {
    position:fixed;
    right:10px;
    bottom: 10px;
}

.nobullets {
    list-style: none;
    text-decoration:blink;
    margin-left: 0px;
    border: solid blue;
    margin: 0px;
}

br {
    margin-bottom:30em;
}

.underline {
    text-decoration:underline;
}