
.menu {
    display: table;
    width: 100%;
    background-color:#25A;
    color:white;
    margin-bottom:15px;
}

.menu a:link, .menu a:visited {
    display: table-cell;
    text-align:center;
    font-size: 2em;
    text-decoration:none;
    color:inherit;
}

.logo {
    background:#AA2222;
    padding: 10px;
    border: groove #22D;
}

.parth {
    max-height:50px;
    border: inset black;
}

.sub {
    text-align:center;
    margin-left:auto; margin-right: auto;
    display:block;
}